body {
  background: linear-gradient(rgba(0,212,255), rgba(255,255,255), rgba(0,212,255));
  background-repeat: no-repeat;
}

.container {
  width: 80%;
  margin: auto;
}

header {
  padding: 10px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(4, 4, 51);
  background-image: url("images/sunset.jpg");
  background-repeat: no-repeat;
  background-position: right;
}